.aboutcont {
 max-height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url("../assests/make-up-artist-nail.png");
    background-size:200px;
    background-repeat: no-repeat;
    margin-left:120px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.cont {
    display: flex;
    max-width: 700px;
    height: 65vh;
    justify-content:center;
    margin-top: 40px;
}

.cont p {
    font-size: larger;
}

/* Media query for screens with a maximum width of 1200px (television) */
@media screen and (min-width: 2000px) {
    .cont {
        max-width: 900px;
        height: 80vh;
        margin-top: 60px;
    }
    
    .cont p {
        font-size: xx-large;
    }

}    
