.aboutcont {
 max-height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url("../assests/make-up-artist-nail.png");
    background-size:200px;
    background-repeat: no-repeat;
    margin-left:120px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.cont {
    display: flex;
    max-width: 700px;
    height: 65vh;
    justify-content:center;
    margin-top: 40px;
}

.cont p {
    font-size: larger;
}

/* Media query for screens with a maximum width of 1200px (television) */
@media screen and (max-width: 1200px) {
    .signupcontainer {
      max-width: 100%;
    }
  
    .shoppingCart,
    .productcontainer,
    .editcontainer {
      width: 100%;
      max-width: 100%;
      padding: 0 20px;
    }
  
    .aboutcont {
      margin-left: 0;
    }
  }
  
  /* Media query for screens with a maximum width of 600px (small screens) */
  @media screen and (max-width: 600px) {
    .signupcontainer,
    .logincontainer,
    .productDetails,
    .productList,
    .productCards,
    .productCard,
    .favContainer,
    .editpage,
    .editcontainer,
    .customCont,
    .container,
    .aboutcont {
      width: 100%;
      max-width: 100%;
      padding: 0 10px;
    }
  
    .cont {
      flex-direction: column;
      align-items: center;
    }
  }