.editpage {
    display: flex;
    justify-content: center;
    font-size: medium;
}

.editcontainer {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding:0 200px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  
  .editcontainer input {
    margin-bottom: 3px;
    width: 100%;
  }
  
  .editcontainer button {
    margin-top: 10px;
  }

  /* Media query for screens with a maximum width of 1200px (television) */
@media screen and (max-width: 1200px) {
    .signupcontainer {
      max-width: 100%;
    }
  
    .shoppingCart,
    .productcontainer,
    .editcontainer {
      width: 100%;
      max-width: 100%;
      padding: 0 20px;
    }
  
    .aboutcont {
      margin-left: 0;
    }
  }
  
  /* Media query for screens with a maximum width of 600px (small screens) */
  @media screen and (max-width: 600px) {
    .signupcontainer,
    .logincontainer,
    .productDetails,
    .productList,
    .productCards,
    .productCard,
    .favContainer,
    .editpage,
    .editcontainer,
    .customCont,
    .container,
    .aboutcont {
      width: 100%;
      max-width: 100%;
      padding: 0 10px;
    }
  
    .cont {
      flex-direction: column;
      align-items: center;
    }
  }