.contactme a:hover {
  color: hotpink;
}

.socialicons {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  gap: 40px;
  margin: 10px;
}

.socialicon a {
  font-size: 40px;
  text-decoration: none;
  color: #333;
}

.facebook a{
  color: #1877f2;
}

.github a {
  color: #514d4d;
}

.instagram a{
  color: #b43aa4;
}

.linkedin a{
  color: #0077b5;
}

.facebook a:hover{
  color: #12407c;
}

.github a:hover {
  color: black;
}

.instagram a:hover{
  color: #75226a;
}

.linkedin a:hover{
  color: #074262;
}


/* Media query for screens with a maximum width of 1200px (television) */
@media screen and (max-width: 1200px) {
  .signupcontainer {
    max-width: 100%;
  }

  .shoppingCart,
  .productcontainer,
  .editcontainer {
    width: 100%;
    max-width: 100%;
    padding: 0 20px;
  }

  .aboutcont {
    margin-left: 0;
  }
}

/* Media query for screens with a maximum width of 600px (small screens) */
@media screen and (max-width: 600px) {
  .signupcontainer,
  .logincontainer,
  .productDetails,
  .productList,
  .productCards,
  .productCard,
  .favContainer,
  .editpage,
  .editcontainer,
  .customCont,
  .container,
  .aboutcont {
    width: 100%;
    max-width: 100%;
    padding: 0 10px;
  }

  .cont {
    flex-direction: column;
    align-items: center;
  }
}