.Home {
    max-height: 100vh;
    display: flex;
    flex-direction: row;
    font-size:1.4rem;
    margin: 0 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.description {
max-width: 500px ;
margin: 0px 20px;
}

img {
    max-height: 500px;
}


@media screen and (min-width: 2000px) {
   .Home {
    font-size:2rem;
    margin: 0 60px;
   }
   
.description {
    max-width: 800px ;
    margin: 60px 60px;
    }
    
    img {
        max-height: 550px;
    }
    
  }