.header2 {
  position: relative;
  font-family:fantasy;
    margin: 0;
    background-color: rgba(211, 211, 211, 0.412);
    color: black;
    max-width: 2000px ;
    max-height: 55px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .menu {
    cursor: pointer;
  }

  nav {
    position: relative;
    display: flex;
    flex-direction: row;
  align-items: center;
  }

  nav ul li{
    list-style: none;
    display: flex;
  }

  .title {
 font-size: 1.5rem;
 align-items: center;
 color: rgb(198, 22, 110);
  }

  .icons li {
    cursor: pointer;
    font-size: x-large;
  }

  .logo {
    max-width: 45px;
  }

  .favorite:hover {
color: #ff0000;
  }

  .cart:hover {
color: #f91ba0;
  }

  /* Media query for screens with a maximum width of 2000px (big screens) */
@media screen and (min-width: 2000px) {
  .header2 {
      max-width: 100%;
      max-height: 65px;
      padding: 0;
      margin-bottom: 30px;
    }

    .title {
   font-size: 2rem;
    }

    .icons li {
      cursor: pointer;
      font-size: xx-large;
    }
    .logo {
      max-width: 55px;
    }
}
